
<div class="animated fadeIn">
  <div class="row">
      <div class="col-sm-12">
          <div class="card">
              <div class="card-body">
                  <div class="form-inline">
                      <div class="col-sm-8 form-inline">
                        <div class="form-group filter-form-group">
                          <label for="shopidEl">图片名称</label>
                          <input type="text" name="title" class="form-control " [(ngModel)]="title">&nbsp;&nbsp;
                      </div>
                      <button type="button" class="btn btn-success serarchbutton" (click)="getAll()">查询</button>&nbsp;&nbsp;
                    </div>
                      <div class="col-sm-3" >
                          <button type="button" class="btn btn-primary newButton" (click)="addPic()">新增</button>&nbsp;&nbsp;
                      </div>
                  </div>
                  <div style="height:20px"></div>
                   <div *ngFor="let alert of alertsDismiss">
                      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
                  </div>
                  <table class="table" style="margin-top:18px;text-align:center;">
                      <thead class="thead-light">
                          <tr>
                              <th>图片名称</th>
                              <th>图片</th>
                              <th>显示序号</th>
                              <th>操作</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngIf="!loading && pictureList.length==0">
                              <td colspan="4">没有相关数据</td>
                          </tr>
                          <tr *ngIf="loading">
                              <td colspan="4">正在载入数据...</td>
                          </tr>
                          <tr *ngFor="let item of pictureList">
                            <td>{{item.title}}</td>
                            <td>
                              <img *ngIf="validatorStr(item.imgUrl)" src="{{item.imgUrl}}" style="width:120px;height:80px;">
                            </td>
                            <td>
                                {{item.displayIndex}}
                            </td>
                            <td style="text-align:center;">
                              <div class="form-actions">
                                  <button type="button" class="btn btn-info operateButton" (click)="jumpToModify(item)">修改</button> &nbsp;
                                  <button type="button" class="btn btn-danger operateButton" (click)="deletePic(item)">删除</button>
                              </div>
                          </td>
                        </tr>
                      </tbody>
                  </table>
                  <pagination [totalItems]="totalItems" [itemsPerPage]="pageSize" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageChanged($event)" class="pull-right"
                  [maxSize]="5" [hidden]="!(!loading && pictureList.length!=0)"></pagination>
              </div>
          </div>
      </div>
  </div>
</div>
