input {
    border: 1px solid #e4e7ea;
    border-radius: .25rem;
    width: 200px;
  }
  
  select {
    border: 1px solid #e4e7ea;
    border-radius: .25rem;
  }
  
  .serarchbutton {
    border: 1px solid #e4e7ea;
    border-radius: .25rem;
  }
  
  .newButton {
    float: right;
    border: 1px solid #e4e7ea;
    border-radius: .25rem;
    width: 80px;
  }
  .operateButton{
    border: 1px solid #e4e7ea;
    border-radius: .25rem;
  }
  button {
    border: 1px solid #e4e7ea;
    border-radius: .25rem;
  }
  