<div class="animated fadeIn">
  <div class="card">
      <div class="card-body"> 
          <app-validator-input #userName [startValidator]="hasSubmit" [test]="validatorStr(user.userName)" [msg]="'请填写用户姓名'" [readonly]="false"
              [labelname]="'用户姓名：'" [(ngModel)]="user.userName" [placeholder]="'请输入用户姓名'" [inputType]="'text'" [showRequired]='true'></app-validator-input>

              <app-validator-input #account [startValidator]="hasSubmit" [test]="validatorPhone(user.account)" [msg]="'请填写手机号码'" [readonly]="false"
              [labelname]="'手机号码'" [(ngModel)]="user.account" [placeholder]="'请输入手机号码'" [inputType]="'text'" [showRequired]='true'></app-validator-input>

              <app-validator-input #IMEICode [startValidator]="hasSubmit" [test]="validatorCode(user.IMEICode)" [msg]="'请填写15位IMEI数字号码'" [readonly]="false"
              [labelname]="'IMEI号码'" [(ngModel)]="user.IMEICode" [placeholder]="'请输入IMEI号码'" [inputType]="'text'" [showRequired]='true'></app-validator-input>
              <div class="form-group row">
                  <label class="col-md-2 col-form-label"><span style="color: red;">*</span>激活</label>
                  <label class="switch switch-primary" style="margin-left: 16px;">
                    <input #status checked="false" class="switch-input" [(ngModel)]="user.isActivatedFlag"  (click)="changeStatus()" type="checkbox" style="display: none" >
                    <span class="switch-slider"></span>
                  </label>
              </div>
              <div class="form-actions" *ngIf="add">
              <button type="submit" class="btn btn-primary pull-right"  (click)="saveUser()">保存</button>
          </div>
          <div class="form-actions" *ngIf="modify">
              <button type="submit" class="btn btn-primary pull-right" (click)="saveUser()">修改</button>
          </div>
      </div>
  </div>
</div>
