<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="animated fadeIn">
        <div class="card">
          <div class="card-body">

            <div class="form-inline">
              <div class="col-sm-8 form-inline">
                <div class="form-group filter-form-group">
                  <label for="shopidEl">导入潮汐表</label>
                  <div class="col-md-9">
                    <input type="file" id="file-input" name="file-input" accept=".xls,.xlsx" (change)="selectedFileOnChanged($event)" >
                  </div>
                </div>
                <button type="button" class="btn btn-success serarchbutton" (click)="import()">导入</button>&nbsp;&nbsp;
              </div>
              <div class="col-sm-3">
                <button type="button" class="btn btn-info" popover="点击下载，编辑潮汐时间表并上传" triggers="mouseenter:mouseleave" (click)="export()">
                  当前潮汐时间表
                </button>
              </div>
            </div>
            <div style="height:20px"></div>
            <div *ngFor="let alert of alertsDismiss">
              <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
            </div>
            <table class="table" style="margin-top:18px;text-align:center;">
              <thead class="thead-light">
                <tr>
                  <th>公立日期</th>
                  <th>阴历</th>
                  <th>涨潮时间</th>
                  <th>退潮时间</th>
                  <th>涨潮时间</th>
                  <th>退潮时间</th>
                </tr>
              </thead>
              <tbody *ngIf="loading">                
                <tr>
                  <td colspan="6">正在载入数据...</td>
                </tr>
              </tbody>
              <tbody>
                <tr *ngIf="!loading && tideList.length==0">
                  <td colspan="6">没有相关数据</td>
                </tr>
                <tr *ngFor="let item of tideList">
                  <td>{{item.publicDate | date:'yyyy-MM-dd'}}</td>
                  <td>{{item.moonDate}}</td>
                  <td>{{item.flood1 | date:'HH:mm'}}</td>
                  <td>{{item.ebb1 | date:'HH:mm'}}</td>
                  <td>{{item.flood2 | date:'HH:mm'}}</td>
                  <td>{{item.ebb2 | date:'HH:mm'}}</td>
                </tr>
              </tbody>
            </table>
            <pagination [totalItems]="totalItems" [itemsPerPage]="pageSize" [(ngModel)]="pageNum" class="pagination-sm"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [boundaryLinks]="true"
              [rotate]="false" (pageChanged)="pageChanged($event)" class="pull-right" [maxSize]="5"
              [hidden]="!(!loading && tideList.length!=0)"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>